/*
Theme Name: Celebrate
Theme URI: http://themehall.com/celebrate-free-responsive-masonry-wordpress-theme/
Description:  Celebrate is a responsive theme built on top of Hybrid Core, featuring a full range of post formats, masonry layout, custom header and background.
Tags: black, gray, orange, white, light, two-columns, one-column, right-sidebar, flexible-width, custom-header, custom-background, custom-menu, editor-style, featured-images, post-formats, sticky-post, translation-ready
Version: 0.2.5
Author: ThemeHall
Author URI: http://themehall.com/about
License: GNU General Public License v2.0
License URI: http://www.gnu.org/licenses/gpl-2.0.html 
 */

/**
 * Fonts - Declare @font-face here.
 * --------------------------------------------------------------------------- */

/* =Reset
-------------------------------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, 
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
fieldset, form, label, legend {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
html {
	font-size: 62.5%; /* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */
	overflow-y: scroll; /* Keeps page centred in all browsers regardless of content height */
	-webkit-text-size-adjust: 100%; /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
	-ms-text-size-adjust: 100%; /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
}
body {
	background: #fff;	
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
	display: block;
}
table { /* tables still need 'cellspacing="0"' in the markup */
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	padding-right: 5px;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}
a:focus {
	outline: thin dotted;
}
a:hover {
	color:#54bceb;
	}
a:active { /* Improves readability when focused and also mouse hovered in all browsers people.opera.com/patrickl/experiments/keyboard/test */
	outline: 0;
}
a img {
	border: 0;
}


/**
 * Defaults
 * --------------------------------------------------------------------------- */

/* === HTML === */

html {}

/* === Body === */

body {
	background-color:#f2f2f2;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight:200;
	font-size:16px;
	line-height: 23px;
}

p {
    margin: 0 0 15px;
}

/* === Links === */

a {
	color:#196781;	
	text-decoration: underline;
}

	a:hover {text-decoration:underline}

/* === Headers === */
h1,h2,h3,h4,h5,h6 {
	font-family: 'Montserrat', sans-serif;
	line-height: 1.5;
	margin: 0 0 20px;
}
h1 {
	font-size: 28px;
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 20px;
}

h4 {
	font-size: 17px;
}

h5 {
	font-size: 15px;
}

h6 {
	font-size: 13px;
}

/* === Blockquotes, quotes, and cites === */

blockquote {
    background: url("images/blockquote.png") no-repeat scroll 0 0 transparent;
    color: #8A8A8A;
    font-family: "Times New Roman",Times,serif;
    font-size: 28px;
    font-style: italic;
    line-height: 36px;
    margin: 20px 0 0;
    padding: 10px;
    text-indent: 1.8em;
}

	blockquote blockquote {}

	blockquote cite {}

/* === Acronyms and abbreviations === */

acronym {}

abbr {}

/* === Code and Preformatted text === */

code {}

pre {}

	pre code {}

/* === <address> tag === */

address {
	margin: 0 0 20px;
}

/* === Lists === */

ul {
	margin: 0 0 25px 25px;
}

	ul li {}

ol {}

	ol li {}

dl {}

	dt {}

	dd {}

/* === Tables === */

table {
  width: 100%;
  border: 1px solid #e5e5e5;
  border-bottom: none;	
  border-right: none;	
}

	caption {}

	thead {}

	tfoot {}

	tbody {}

	tr {}

	th {
		padding: 0.625em;
		border-bottom: 1px solid #e5e5e5;
		border-right: 1px solid #e5e5e5;
	}

	td {
		padding: 0.625em;
		border-right: 1px solid #e5e5e5;
		border-bottom: 1px solid #e5e5e5;
	}

	/* wp-calendar <table> */

	#wp-calendar {}
	#wp-calendar #next {
		text-align:right
	}
	#wp-calendar th,
	#wp-calendar td {
		padding:0.25em;	
		border-color:#ffffff;
	}	

/* === Embeds === */

object {}

embed {
	max-height:100%;
	max-width:100%;
	height:400px;
	width:100%;	
}
.mejs-controls div.mejs-time-rail {
	width:100px !important;	
}
.mejs-time-total {
	width:90px !important;
}
.mejs-container {
	max-width:100% !important;	
}

iframe {}

video {}

/* === Forms === */

form {}

	fieldset {}

		fieldset legend {}

	label {}

	input {}

		/* Not all types, but these are more common for themes. */
		input[type="button"] {}
		input[type="checkbox"] {}
		input[type="email"] {}
		input[type="password"] {}
		input[type="radio"] {}
		input[type="reset"] {}
		input[type="search"] {}
		input[type="submit"] {}
		input[type="text"] {}
		input[type="url"] {}

	textarea {}

	select {
		max-width: 100%;
	}

		select optgroup {}

		select option {}

	button {}

/* === Alignement (WP classes) === */

.alignleft {}

.alignright {}

.aligncenter {}

.alignnone {}


/**
 * Images
 * --------------------------------------------------------------------------- */

img {
	max-width:100%;
	width: inherit;
	height:auto !important;
}

.home .hentry a img.wp-post-image, 
.blog .hentry a img.wp-post-image, 
.archive .hentry a img.wp-post-image {
	width:100%;
}
	a img {}

/* === WP editor image sizes === */

img.size-thumbnail {}

img.size-medium {}

img.size-large {}

img.size-full {}

/* === Thumbnails === */

.thumbnail {}

/* === Captions === */

.wp-caption {
	max-width: 100% !important;
}

	.wp-caption img {}

	.wp-caption-text {}

		.wp-caption-text a {}
		.wp-caption-text a:hover {}

/* === Gallery === */

.gallery {}

	.gallery .gallery-item {
		margin-bottom: 3%;
	}

		.gallery-icon {}

			.gallery .gallery-icon img {}

		.gallery .gallery-caption {
			font-size: 90%;	
		}

/* === Avatars === */

.avatar {}

	a .avatar {}
	a:hover .avatar {}

/**
 * Layout
 * --------------------------------------------------------------------------- */

	#container {
		margin:0 auto;		
		overflow:hidden;
	}
	
	.wrap {
		max-width:1200px;
		margin:0 auto;	
	}

		.layout-1c #container {}
		.layout-2c-l #container {}
		
		#header {
			background:url(images/header-diagonal.jpg) repeat center top transparent;
			color: #FFFFFF;
			height: 500px;
			text-align: center;
		}

		#menu-primary {}
		
		#main {
			margin: 0 auto;
			overflow: hidden;
			padding: 50px 15px 50px;
			max-width: 1200px;
		}

			#content {
				float: left;
				width: 70%;
			}
			.layout-1c #content {
				width: 100%;
			}
			#sidebar-primary {
				width:30%;
				float:left;	
				-webkit-border-radius: 3px;
				-moz-border-radius: 3px;
				border-radius: 3px;
				overflow:hidden;
			}


/**
 * Header
 * --------------------------------------------------------------------------- */

#header {
	overflow: hidden;
    position: relative;
}

	#branding {
		margin: 0 auto;
		position:absolute;
		top:35%;
		width:100%;
		text-align:center;
	}

		#site-title {
			margin: 0 0 3%;
			text-align:center;	
			line-height: 26px;
		}

			#site-title a {
				color: #490D22;
				display: block;
				font-size: 62px;
				text-decoration:none;
				text-transform:uppercase;
			}
			#site-title a:hover {}
		
		#site-description {
			font-size: 36px;
			font-weight: normal;
			line-height: 30px;
			margin: 0;
			color:#490D22;
			text-transform:uppercase;
			font-family: 'PT Sans', sans-serif;						
		}

/**
 * Menus
 * --------------------------------------------------------------------------- */

.menu-toggle {
	display: none;
	cursor: pointer;
}

/* ====== Primary Menu ====== */

#menu-primary {
   background: none repeat scroll 0 0 #333333;
   margin:0px auto;
   position: relative;
   z-index: 499;	
   clear: both;
   display: block;
   text-align: left;
}
	
	#menu-primary ul {
		list-style: none;
		margin: 	0;
		text-align: center;
	}

	#menu-primary .menu-items {
		zoom: 1;
	}

	#menu-primary .menu-items::before,
	#menu-primary .menu-items::after {
		content: "";
		display: table;
	}

	#menu-primary .menu-items::after {
		clear: both;
	}

		#menu-primary .menu-items > ul {
			width:  100%;
			margin: 60px auto;
		}

		#menu-primary ul ul {
			position:   absolute;
			z-index: 	1;
			top: 		73px;
			visibility: hidden;
			margin: 	20px 0 0;
			text-align: left;
		}

		#menu-primary li:hover > ul {
			visibility: visible;
			margin: 	0;
		}

			#menu-primary ul ul ul {
				top:    0;
				left:   230px;
				margin: 0 0 0 20px;
			}

		#menu-primary li {
			position: relative;
			float: 	  left;
			display:  inline-block;
		}

			#menu-primary li a {
				display: 	   	 inline-block;
				padding: 	   	 25px 25px;
				border-bottom: 	 none;
				color: 		     #ffffff;
				text-decoration: none;
				text-transform:uppercase;
			}

			#menu-primary li a:hover, 
			#menu-primary li:hover > a {
				background: #CF7A21;				
			}
			#menu-primary li li a {
				background: #CF7A21;
				padding: 17px 25px;
			}

			#menu-primary li li a:hover,
			#menu-primary li li:hover > a {
				background: #CF7A21;
			}

			#menu-primary ul ul li {
				display: block;
				float: none;
			}

				#menu-primary ul ul li a {
					display: block;
					float:   none;
					width:   190px;
				}

/**
 * Content
 * --------------------------------------------------------------------------- */

/* ====== POSTS ====== */

.hentry  {
	background:#ffffff;
	padding: 4%;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.blog .hentry,
.archive .hentry,
.search .hentry {
	width:45.8%;	
	float:left;
	margin:0 4% 4% 0;
	background:#ffffff;
	position:relative;
	overflow:hidden;
	padding:0 0 30px;
}
.home .hentry embed,
.blog .hentry embed,
.archive .hentry embed,
.home .hentry iframe,
.blog .hentry iframe,
.archive .hentry iframe
 {
	width:100%;
	max-height:100%;
	height: 300px;
}
.singular #content .hentry {
	margin-right:4%;
}
.sticky {}

	/* === Post Header === */	
	.entry-header {
		padding:20px 30px 0;
	}	
	.entry-header .avatar {
		margin:10px 0 0;
		text-align:center;	
	}
	.singular .entry-header {
		padding:0px 0px 0;
	}

		.entry-title {
			font-size:24px;
			color:#232323;
			line-height:32px;
			margin:0 0 4px;		
			word-wrap: break-word;
			-ms-word-wrap: break-word;
		}

			.entry-title a {
				color:#333333;
				text-decoration:none;
			}
			.entry-title a:hover {
				color:#666666;
				text-decoration:none;
			}

		.entry-byline {
			
		}
		
		.singular .entry-byline {
			font-size:18px;
			margin:6px 0 10px;	
		}

			.entry-byline a {
			  border-bottom: 1px solid transparent;
			  font-size: 17px;
			}
			.entry-byline a:hover {}

			.entry-byline .published {}

	/* === Post content and excerpts === */

	.entry-content {
		padding:10px 0;
		word-wrap: break-word;
		-ms-word-wrap: break-word;
	}

	.entry-summary {
		padding:5px 30px 0;	
		word-wrap: break-word;
		-ms-word-wrap: break-word;
	}
	.format-aside .entry-summary {
		padding-top:25px;
	}
	/* === Post Footer === */

	.entry-footer {
		padding: 0px 30px 0;
	}
	.singular .entry-footer {
		padding: 0px;
	}

		.entry-meta {}

			.entry-meta a {}
			.entry-meta a:hover {}

			.entry-meta .published {}

			.entry-meta .category {}
			.entry-meta .post_tag {}

	/* === Asides === */

	.format-aside {}

		.format-aside .entry-content a.permalink {}

	/* === Chats === */

	.format-chat {}

		.format-chat .chat-row {}

			.format-chat .chat-text {}

			.format-chat cite {}

			.format-chat .chat-speaker-1 {}
			.format-chat .chat-speaker-2 {}
			.format-chat .chat-speaker-3 {}
			.format-chat .chat-speaker-4 {}
			.format-chat .chat-speaker-5 {}
			.format-chat .chat-speaker-6 {}
			.format-chat .chat-speaker-7 {}
			.format-chat .chat-speaker-8 {}
			.format-chat .chat-speaker-9 {}

	/* === Links === */

	.format-link {}

		.format-link .entry-title {}

			.format-link .entry-title a {}
			.format-link .entry-title a:hover {}

				.format-link .entry-title a .meta-nav {}

	/* === Galleries === */

	.format-gallery {}

		.format-gallery .image-count {}

	/* === Quotes === */

	.format-quote {}

		.format-quote blockquote {}

			.format-quote blockquote cite {}

	/* === Status updates === */

	.format-status

		.format-status .avatar {}

	/* === Audio and Video === */

	.format-video {}
	.format-audio {}


/* ====== Attachment Meta (on image attachment pages) ====== */

.attachment-meta {
	background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 3px 3px 3px 3px;
    margin: 4% 4% 4% 0;
    padding: 4%;
}

	.attachment-meta .image-gallery {}

	.attachment-meta .image-info {}

		.image-info ul {}

			.image-info ul li {}

				.image-info .prep {}

				.image-info .image-data {}


/* ====== LOOP META ====== */

.loop-meta {
	background: none repeat scroll 0 0 #FFFFFF;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
    padding: 4%;
	margin:0 4% 4% 0;
}

	.loop-title {}

	.loop-description {}

/* ====== PAGINATION ====== */

/* === Single posts using <!--nextpage--> === */

.page-links {}

	.page-links .before {}

	.page-links a {}
	.page-links a:hover {}

/* === Single post navigation (between different posts) === */

.loop-nav {}

	.loop-nav a {}
	.loop-nav a:hover {}

	.loop-nav a[rel="prev"] {}

	.loop-nav a[rel="next"] {}

/* === Archive-type pages === */

.loop-pagination {
    clear: both;
    display: block;
    margin-bottom: 30px;
	margin-right: 30px;
	overflow:hidden;		
}
	.loop-pagiation .page-numbers {
		
	}
	.loop-pagination .page-numbers {
		background: none repeat scroll 0 0 #333333;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		color: #FFFFFF;
		cursor: pointer;
		display: inline-block;
		font-weight: 700;
		padding: 8px 12px;
		text-decoration: none;
	}
	.loop-pagination a:hover,
	.page-numbers.current {
		background: none repeat scroll 0 0 #CF7A21;
		text-decoration:none;
	}
	
/* === Comments pagination === */

.comments-nav {}

	.comments-nav a {}
	.comments-nav a:hover {}

	.comments-nav .page-numbers {}

/**
 * Sidebars and widgets
 * --------------------------------------------------------------------------- */

/* ====== General ====== */

.sidebar {
	background:#CF7A21;
	padding: 0 0 30px;
	}	

	.widget {
		margin:0 0 0px;
		padding: 30px 30px 10px;
		color:#ffffff;
	}
	.widget_search .widget-title {
		color: #FFFFFF;
	}
	.widget_search input#s  {
		background: url("images/search.png") no-repeat scroll 10px 12px #FFFFFF;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		border:none; 
		padding: 11px 11px 11px 35px;
		width: 80%;
		margin:0 0 10px;
	}
	.widget_search #searchsubmit {
		display: none;
	}
	.widget-calendar table {
		width: 100%;
	}	

		.widget-title {
			color: #ffffff;
			font-size: 17px;
			margin: 0 0 15px;
			text-transform: uppercase;
		}
		
		.widget ul li {
			margin-bottom:3px;	
		}
		
		.widget a {
			color:#ffffff;
			text-decoration:none;
		}
		.widget a:hover {
			color:#eeeeee;	
		}
		.widget_recent_comments a,
		.widget-calendar a,
		.widget_text a {
			border-bottom: 1px solid #dddddd;	
		}

		#sidebar-primary .textwidget {
			position: relative;
			width: 300px;
		}

.screen-reader-text {
	display: none;
}
		

/**
 * Comments Template
 * --------------------------------------------------------------------------- */

#comments-template {}

/* ====== COMMENTS ======= */

#comments {
	background:#ffffff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 4%;
	margin:4% 4% 4% 0;	
}

	#comments-number {}

	/* === Comments closed message === */

	.comments-closed {}

	.comments-closed.pings-open {}

	/* === Comment list === */

	ol.comment-list {}

		ol.comment-list ol.children {
			list-style:none;	
			margin:0 0 0 5px;
		}

		/* === Individual comments */

		li.comment {
			margin:10px 0 20px;
			list-style:none;
		}
		
		li.comment li {
			margin:25px 0 0px 20px;
		}

		li.ping {}

		li.bypostauthor {}

			/* === Avatars === */

			.comment-list .avatar {
				float:left;
				margin: 0px 20px 20px 0;	
			}

			/* === Meta === */

			.comment-meta {}

				.comment-author {
					display:block;	
				}

					.comment-author cite {}

				.comment-meta .published {}

			/* === Comment text/content === */

			.comment-content {}

			/* === Comment text/content === */
			.comment-text {
				clear: left;
				margin: 0 0 15px;
				word-wrap: break-word;
				-ms-word-wrap: break-word;
			}
			
			.comment-text p {
				margin:0;
			}
			
			/* === Reply link === */

			.comment-reply-link {}
			.comment-reply-link:hover {}


/* ====== RESPOND (COMMENT FORM) ====== */

#respond {}

	#reply-title {}

		#reply-title small {}

	#respond .log-in-out {}

	#respond label {
		display: block;
	}

		#respond label .required {}

	#respond input[type="text"],
	#respond input[type="url"],
	#respond input[type="email"] {
		background: none repeat scroll 0 0 #FEFEFE;
    	border: 1px solid #DDDDDD;
		padding:10px;
	}

	#respond input[type="submit"] {
		background: none repeat scroll 0 0 #333333;
    	border: none;
		color:#ffffff;
		text-transform:uppercase;
		padding:10px 20px;
		font-size:14px;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;

	}
	#respond input[type="submit"]:focus {}
	#respond input[type="submit"]:hover {
		background: none repeat scroll 0 0 #666666;
	}

	#respond textarea {    
		padding:10px;
		background: none repeat scroll 0 0 #FEFEFE;
    	border: 1px solid #DDDDDD;
		width:75%;	}
	#respond textarea:focus {}


/**
 * Footer
 * --------------------------------------------------------------------------- */

#footer {
	background:#333333;
	color:#ffffff;
	overflow:hidden;
	padding:20px 0;
	text-align:center
}

	#footer .copyright {
		text-align:center;
		margin:10px 0;
	}

	#footer .credit {text-align:center}

	#footer a {color:#ffffff}
	#footer a:hover {}

/**
 * Media Queries
 * --------------------------------------------------------------------------- */


/**
 * Clearing Floats
 * --------------------------------------------------------------------------- */

.clearfix::after {
	content:    ".";
	display:    block;
	height:     0;
	clear:      both;
	visibility: hidden;
}

.clearfix:after,
#container:after,
#header:after,
#branding:after,
#menu-primary:after,
.widget:after,
.hentry:after,
.entry-summary:after,
.entry-content:after,
.attachment-meta:after,
.loop-meta:after,
.loop-nav:after,
li.comment:after, li.pingback:after, li.trackback:after,
.gallery:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}



/*
Media Queries
---------------------------------------------------------------------------------------------------- */

/* Desktops, laptops and iPads (landscape)
--------------------------------------------- */

@media only screen and (max-width: 1139px) {

}

/* iPads (portrait)
--------------------------------------------- */

@media only screen and (max-width: 1023px) {
	
	.home #content, .archive #content, .blog #content, #content {
		margin-right: 0;
		width: 100%;
	}	
	.home .hentry, .blog .hentry, .archive .hentry {
		margin: 0 2% 25px 2%;
		width: 45.8%;
	}
	.singular #content .hentry {
		margin-right: 0%;
	}
	.loop-meta {
		margin:0 2% 5%;
	}
	#sidebar-primary {
		width: 100%;
		-webkit-border-radius: 0px;
		-moz-border-radius: 0px;
		border-radius: 0px;
	}
	#sidebar-primary .widget {
		width: 45%;
		float:left;
		padding:5% 2.5% 2%;
		position: relative;
	}
	
	#main {
		padding: 2em 0 0;
	}
	
	.singular #main {
		padding: 0 0 0;
	}
	
	#footer .wrap {padding:0 5%}
	
	.loop-pagination {
		margin: 0 2% 4%;
	}
	
}

/* iPhones (portrait and landscape)
--------------------------------------------- */

@media only screen and (max-width: 767px) {
	#header {
		height: 200px !important;
	}
	#site-title a {
		font-size: 36px;
	}
	#site-description {
		font-size: 22px;
	}
	.home .hentry, .blog .hentry, .archive .hentry {
		margin: 0 5% 25px 5%;
		width: 90%;
	}
	.loop-meta {
		padding: 4%;
		margin:0 5% 5% 5%;
	}
	.loop-pagination {
		margin: 0 5% 4%;
	}
	#sidebar-primary .widget {
		width: 90%;
		float:none;
		padding:5% 5% 2%;
	}
	
	#respond input[type="text"], #respond input[type="url"], #respond input[type="email"], #respond textarea {
		width:90%;
	}

}
